/* ===========================
   Global
=========================== */

body{
    background:linear-gradient(135deg,#eef2ff,#f8f9fa);
    min-height:100vh;
}

/* ===========================
   Card
=========================== */

.card{
    border-radius:16px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 .9rem 2rem rgba(0,0,0,.15)!important;
}

.card-header{
    border-radius:16px 16px 0 0!important;
}

/* ===========================
   Form
=========================== */

.form-control,
.form-select{
    height:48px;
    border-radius:10px;
}

.form-control:focus,
.form-select:focus{
    border-color:#4f8dfd;
    box-shadow:0 0 0 .15rem rgba(79,141,253,.25);
}

/* ===========================
   Table
=========================== */

.table{
    border-radius:12px;
    overflow:hidden;
}

.table thead{
    background:#0d6efd;
    color:white;
}

.table thead th{
    border:none;
    font-weight:600;
}

.table tbody tr{
    transition:.2s;
}

.table tbody tr:hover{
    background:#edf4ff;
}

/* ===========================
   Button
=========================== */

.btn{
    border-radius:10px;
    font-weight:600;
    transition:.25s;
}

.btn:hover{
    transform:translateY(-2px);
}

.action-btn{
    width:70px;
}
/* ===========================
   Badge
=========================== */

.badge{
    border-radius:8px;
}